streamlit
pandas
matplotlib 
numpy 
pypdf
python-dotenv
groq
langchain
langchain-groq
langchain-huggingface
langchain-community
langchain-experimental 
langchain_cohere
langchain-chroma
transformers 
sentence_transformers
torch
chromadb==0.4.0
protobuf==3.20.0
pysqlite3-binary==0.5.4
